
<div class="pageNumberContainer" id="second-form">
    {{#if this.finalPages.prevPage}}
        <a href="/?key={{key}}&page=1" class="paginationFirstPage">
        <i class="first"> First page </i>
    </a>

    <a href="/?key={{key}}&page={{this.finalPages.prevPage}}" class="paginationPrevious">
        <i class="angle"> &laquo; </i>
    </a>
    {{/if}}

    {{#if this.finalPages.prevPage}}
    <a href="/?key={{key}}&page={{this.finalPages.prevPage}}" class="pagination1">
        {{this.finalPages.prevPage}}
    </a>
    {{/if}}

    <a href="/?key={{key}}&page={{this.finalPages.currentPage}}" class="pagination2">
        {{this.finalPages.currentPage}}
    </a>

    {{#if this.finalPages.nextPage}}
    <a href="/?key={{key}}&page={{this.finalPages.nextPage}}" class="pagination3">
        {{this.finalPages.nextPage}}
    </a>
    {{/if}}

    {{#if this.finalPages.nextPage}}
    <a href="/?key={{key}}&page={{this.finalPages.nextPage}}" class="paginationNext">
        <i class="angle"> &raquo; </i>
    </a>
    {{/if}}
</div>