<div class="container">
    {{#each posts}}
<div class="containerNews">
    <div class="containerTitle"><a href="{{this.location.uri}}"
            class="title">{{this.title.title}}</a></div>
    <div class="containerSummery">
        <p class="summery">{{this.summary.excerpt}}</p>
    </div>
    <div class="containerEditorial"><a href="{{this.location.uri}}"
            class="subheading">{{this.editorial.subheading}}</a></div>
    <div class="containerByline">
        {{#if this.editorial.byline}}
        <p class="byline">{{this.editorial.byline}}</p>
        {{else}}
        <p class="byline">" "</p>
        {{/if}}
        <div class="containerDate">
            <p class="date">{{timeDate this.lifecycle.initialPublishDateTime}}</p>
        </div>
    </div>
</div>
{{/each}}
</div>
