<div class="container">
    {{#if this.message}}
    <div class="error">
    <h1>{{this.message}}</h1>
            <p>
        Suggestions:
        </p>
        <ul>
            <li>Make sure that all words are spelled correctly.</li>
            <li>Try different keywords.</li>
            <li>Try more general keywords.</li>
            <li>Try fewer keywords.</li>
        </ul>
    </div>
    {{/if}}
    {{#each finalResults}}
        <div class="containerNews">
            <div class="containerTitle"><a href="{{this.id.uri}}" class="title">{{this.certification.name}} question: {{this.id}}</a>
            </div>
            <div class="containerSummery">
                <p class="summery">{{this.question}}</p>
            </div>
    {{#if this.is_multiple_choice}}
            <p class="red">One answer</p>
    {{else}}
            <p class="red">Multiple choice answer</p>
    {{/if}}

    {{#each this.possible_answers}}

        {{#if this.is_correct}}
                <p class="byline green">{{this.answer}}</p>
                {{else}}
                <p class="byline">{{this.answer}}</p>
                {{/if}}    
    
    {{/each}}
            <div class="containerDate">
                <p class="date">{{timeDate this.created_at}}</p>
                </div>
                 <div class="containerDate">
                <p class="date">{{this.created_at}}</p>
                </div>
            </div>
        </div>
  
    {{/each}}
</div>